<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="greendustbd.leasure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieActivity" />
        <activity
            android:name=".SingleMovieActivity"
            android:label="@string/title_activity_single"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleBookActivity"
            android:label="@string/title_activity_scrolling_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BookActivity" />
        <activity android:name=".DramaActivity" />
        <activity
            android:name=".SingleDramaActivity"
            android:label="@string/title_activity_single_drama"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MusicActivity" />
        <activity
            android:name=".SingleMusicActivity"
            android:label="@string/title_activity_single_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>